{% extends 'base.html' %}

{% block content %}

    <table class='table table-borderless'>
        <thead>
            <tr>
                <th scope="col">Article</th>
                <th scope="col">Summary</th>
                <th>
                    <a href="{% url 'blog_new' %}" class="btn btn-outline-success">
                        New &nbsp;<i class="fas fa-plus"></i></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for instance in obj %}
            {% if instance.active == True %}
                <tr>
                    <td>{{instance.title}}</td>
                    <td>{{instance.summary}}</td>
                    <td>
                        <a href="{% url 'blog_update' instance.id %}" class="btn text-secondary px-0">
                            <i class="far fa-edit fa-lg"></i>
                        </a> &nbsp;
                        <a href="{% url 'blog_delete' instance.id %}" class="btn text-secondary px-0">
                            <i class="far fa-trash-alt fa-lg"></i>
                        </a>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock content %}